// Layout

$width: 1200px; //640px;
$margin: 15px;

// Color

$color-map : (
    main : #47B7CC,
    sub : #362F3C,
    border : #7C848C
);

@function color($name) {
    @return map-get($color-map, $name)
}


// Font

$font-default-en: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$font-default-cn: 'Helvetica Neue', 'Helvetica', 'Arial', "微软雅黑", "黑体", 'Microsoft YaHei', 'メイリオ', Meiryo, sans-serif;
$font-default-jp: 'Helvetica Neue', 'Helvetica', 'Arial', '游ゴシック', 'YuGothic', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
$font-serif: Georgia, "Times New Roman", serif;
$font-mono: Monaco, Menlo, Consolas, "Courier New", monospace;


html {
    font-size: 62.5%;
    background: #fcfcfc;
    color: #2c2c2c;
    &:lang(en) {
        font-family: $font-default-en;
    }
    &:lang(zh-cn) {
        font-family: $font-default-cn;
    }
    &:lang(ja-jp) {
        font-family: $font-default-jp;
        font-weight: 500;
    }
}

a {
    color: color(main);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}


/**
 * header
 */

.header {
    border-top: 1px solid color(main);
    padding: 2rem 1rem;
    margin: auto;
    max-width: $width;
    position: relative;

    &.isHome {
        padding: 5rem 1rem;
        border-width: 4px;
    }
}

.header__logo {
    text-align: center;
    a {
        &:hover {
            text-decoration: none;
        }
    }
}

.header__logo__mainHeadline {
    font-weight: 500;
    display: inline-block;
    margin: 0;
    font-size: 2.3em;

    .header.isHome & {
        font-size: 2.6rem;
    }
}

.header__logo__subHeadline {
    margin: $margin 0;
    font-weight: 500;
    font-size: 15px;
}

.header__menu {
    overflow: hidden;
    margin-top: 11px;
}

.header__menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__menu__list__item {
    margin: 0 1rem;

    a {
        font-size: 1.6rem;
        font-feature-settings: "palt";
    }
}


@media screen and (min-width: 35.5em) {
    .header {
        padding-left: 0;
        padding-right: 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .header__logo {
        text-align: left;
        margin-right: auto;
    }

    .header__logo__mainHeadline {
        margin: 0;
    }

    .header__menu {

    }

    .header__menu__list {
        justify-content: flex-end;
    }
}


/**
 * post
 */

.post {
    margin-bottom: 3em;
}


/**
 * article
 */

#content {
    margin: auto;
    max-width: $width;
    padding: 0 1rem;
}

.article {
    margin-bottom: 6rem;
    font-size: 1.7rem;
}

.article__header__meta {
    overflow: hidden;
    height: 20px;
}

.article__header__meta__time {
    font-size: 1.3rem;
    font-weight: bold;
    color: #aaa;
    text-decoration: none;
}

.article__header__title {
    font-feature-settings: "palt";
    font-weight: 500;
    font-size: 2.6rem;
    margin: .4em 0 0;
    a {
        color: inherit;
        &:hover {
            text-decoration: none;
        }
    }
    .article.link & {
        margin: 1rem 0;
    }
}

.article__entry {
    padding-top: 1rem;
    margin-bottom: 15px;
    line-height: 1.85;

    p, blockquote, ul, ol, dl, table, iframe, h3, h4, h5, h6, .video-container {
        margin-top: 15px
    }

    blockquote {
        margin: 3rem .5rem;
        padding: 0 20px;
        border-left: 1px solid color(main);
        font-family: $font-serif;
        footer {
            margin: 20px 0 0;
            padding-top: 0;
            border-top: none;
            font-size: 0.8em;
            line-height: 1;
            color: #4E5359;
            cite {
                &::before {
                    padding: 0 0.5em;
                    color: #ccc;
                    content: '—';
                }
            }
        }
    }

    code, pre {
        font-family: $font-mono
    }

    code {
        margin: 0 2px;
        padding: 0 5px;
        border: 1px solid color(border);
        border-radius: 3px;
        background: #f9f9f9;
        color: #666;
        font-size: 0.9em;
    }
    pre {
        overflow: auto;
        padding: 7px 15px;
        border: 1px solid color(border);
        code {
            margin: 0;
            padding: 0;
            border: none;
            border-radius: 0;
            background: none;
        }
    }

    ul, ol, dl {
        margin-left: 20px;
        padding: 0;
        ul, ol, dl {
            margin-top: 0
        }
    }

    h1, h2 {
        margin-top: 1.5em;
        font-weight: normal;
        line-height: 1;
        font-size: 2.4rem;
    }

    h3, h4, h5, h6 {
        font-weight: normal;
        line-height: 1;
    }

    img, video {
        max-width: 100%;
        height: auto;
        border: none;
    }

    amp-img[role="button"] > img {
        cursor: pointer;

        &:hover {
            opacity: .9;
        }
    }

    iframe {
        border: none
    }

    .caption {
        position: relative;
        display: block;
        margin-top: 5px;
        padding-left: 25px;
        color: color(sub);
        font-size: 0.9em;
    }

    .video-container {
        position: relative;
        overflow: hidden;
        padding-top: 30px;
        padding-bottom: 56.25%;
        height: 0;
        iframe, object, embed {
            position: absolute;
            top: 0;
            left: 0;
            margin-top: 0;
            width: 100%;
            height: 100%;
        }
    }
    .pullquote {
        margin: 0;
        padding: 0;
        width: 45%;
        border: none;
        text-align: left;
        font-size: 1.5em;

        &.left {
            margin-left: .5em;
            margin-right: 1em;
        }
        &.right {
            margin-right: .5em;
            margin-left: 1em;
        }
    }

    table {
        border-collapse: collapse;
        td {
            padding: 2px 10px;
            border: 1px solid color(border);
        }
    }

    .left,
    .alignleft {
        float: left;
    }

    .right,
    .alignright {
        float: right;
    }

    .clear {
        clear: both;
    }
}

.article__footer {
    border-bottom: 1px solid color(main);

    > div {
        margin: 2.5rem 0 1rem;
    }
    a:not(:last-child) {
        margin-right: 1rem;
    }
}


/**
 * index
 */

.pagination {
    font-size: 1.4rem;
    margin: 3rem 0;
    display: flex;
    justify-content: space-between;

    a {
        display: inline-block;
        font-weight: bold;
        border: 1px solid color(main);
        padding: 1rem 1.1rem;

        &:hover {
            background-color: color(main);
            color: #fff;
            text-decoration: none;
        }
    }
}

.pagination__prev {
    margin-right: auto;

    &::before {
        display: inline-block;
        margin-right: .5rem;
        content: '«';
        text-align: center;
    }
}
.pagination__next {
    margin-left: auto;

    &::after {
        display: inline-block;
        margin-left: .5rem;
        content: '»';
        text-align: center;
    }
}



/**
 * archive
 */

.archive {
    border-bottom: 1px solid color(main);
}

.archive-title {
    color: color(sub);
    font-weight: normal;
    font-size: 2.5rem;

    .widget & {
        font-size: 2.2rem;
    }
}

.search {
    input {
        box-sizing: border-box;
        padding: 1rem 1rem;
        width: 100%;
        border: 1px solid color(border);
        color: color(sub);
        font-size: 1.6rem;
        &:focus {
            border-color: color(main);
        }
    }
}

.widget {
    margin-bottom: 30px;
    ul.entry {
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 14px;
        line-height: 2;
        li {
            float: left;
            margin-right: 30px;
        }
    }
}

.widget_type_tag,
.widget_type_category {
    border-bottom: 1px solid color(main);
    padding-bottom: 2.5rem;
    small {
        margin-left: 2px;
        color: color(sub);
        &::before {
            padding-right: 2px;
            content: '(';
        }
        &::after {
            padding-left: 2px;
            content: ')';
        }
    }
}

.footer {
    padding: 3rem 1rem;
    color: #999;
    font-size: 1.2rem;
    margin: 3rem auto auto;
    max-width: $width;
    a {
        color: inherit;
    }
    small {
        display: inline-block;
        font-size: inherit;
    }
}


@import 'partial/highlight';