.vscode/ftp-sync.json
.vscode/sftp.json
vendor
node_modules
shoot/
package-lock.json
php-yt-api.*
php-yt-api*
exclude/
exclude/**/*
v2
/instagram
/BOT
/*.rar
/drone
tsconfig.compiler.*
*.rar
.vuepress/.temp