[submodule "src-posts"]
	path = src-posts
	url = https://github.com/dimaslanjaka/dimaslanjaka.git
	branch = posts
[submodule "source"]
	path = source
	url = https://github.com/dimaslanjaka/dimaslanjaka.github.io.git
	branch = source
[submodule "packages/safelink"]
	path = packages/safelink
	url = https://github.com/dimaslanjaka/safelink.git
	branch = main
[submodule "packages/hexo-post-parser"]
	path = packages/hexo-post-parser
	url = https://github.com/dimaslanjaka/hexo-post-parser.git
	branch = main
