.env
**/tmp/
**/temp/
**/yarn.lock
**/package-lock.json
**/.yarn/*.gz
**/.yarn/cache*
**/.yarn/version*
**/.yarn/unplug*
filter-repo/
/node_modules/*
**/node_modules/**/*.d.ts
**/node_modules/**/*.d.mts
**/node_modules/**/*.d.cts
**/node_modules/**/*.tsx
**/node_modules/**/*.jsx
**/node_modules/**/.*
**/node_modules/**/gulp*
**/node_modules/**/karma*
**/node_modules/**/grunt*
**/node_modules/**/docker*
**/node_modules/**/*.nupkg
**/node_modules/**/*.nuspec
**/node_modules/**/*.tgz
**/node_modules/**/*.zip
**/node_modules/**/*LICENSE.*
**/node_modules/**/LICENSE
**/node_modules/*/*/LICENSE*
**/node_modules/*/**/*/LICENSE*
**/node_modules/*/*/license*
**/node_modules/*/**/*/license*
**/node_modules/**/*.wiki
**/node_modules/*/*.html
**/node_modules/*/**/*.html
**/node_modules/*/*.scss
**/node_modules/*/**/*.scss
**/node_modules/*/*.md
**/node_modules/*/**/*.md
**/node_modules/*/*.d.ts
**/node_modules/*/**/*.d.ts
**/node_modules/.bin
**/node_modules/@types
**/node_modules/*/.eslint*
**/node_modules/*/**/.eslint*
**/node_modules/*/.jshint*
**/node_modules/*/**/.jshint*
**/node_modules/*/bower.json
**/node_modules/*/**/bower.json
# auto generate start
!/node_modules/aes-js/
!/node_modules/ansi-colors/
!/node_modules/axios/
!/node_modules/axios-cache-interceptor/
!/node_modules/bootstrap/
!/node_modules/crypto-js/
!/node_modules/jquery/
!/node_modules/material-dashboard/
!/node_modules/moment/
!/node_modules/moment-timezone/
!/node_modules/requirejs/
!/node_modules/safelinkify/
!/node_modules/toastr/
!/node_modules/highlight.js/
# auto generate ends