[submodule "src-posts"]
	path = src-posts
	url = https://github.com/dimaslanjaka/dimaslanjaka.git
	branch = posts
[submodule "source"]
	path = source
	url = https://github.com/dimaslanjaka/dimaslanjaka.github.io.git
	branch = source