[submodule "src-posts"]
	path = src-posts
	url = https://github.com/dimaslanjaka/dimaslanjaka.git
	branch = posts
[submodule "source"]
	path = source
	url = https://github.com/dimaslanjaka/public-source.git