.img-inline-text {
  width: 16px;
  margin: 0 2px 0 2px;
  padding: 0;
  height: 100%;
  vertical-align: sub;
  display: inline-block !important;
}
table a.gallery-item {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: fit-content;
}
table span.caption {
  display: none !important;
}
table {
  max-width: 100vw;
  overflow-x: auto;
  overflow: auto;
  display: block;
}
