.img-inline-text {
  width: 15px;
  height: 100%;
  vertical-align: sub;
}
table a.gallery-item {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: fit-content;
}
table {
  max-width: 100vw;
  overflow-x: auto;
  overflow: auto;
  display: block;
}
img.img-recipe {
  display: inline-block;
  width: 35px;
}
table span.caption {
  display: none !important;
}
