// Theme's Palette
@import("D:/dimaslanjaka.github.io/.vuepress/theme-blog/styles/palette.styl")

// User's Palette
@import("D:/dimaslanjaka.github.io/.vuepress/theme-blog/example/.vuepress/styles/palette.styl")