// Theme's Styles
@import("D:/dimaslanjaka.github.io/.vuepress/theme-blog/styles/index.styl")

// User's Styles
@import("D:/dimaslanjaka.github.io/.vuepress/theme-blog/example/.vuepress/styles/index.styl")