<!DOCTYPE html>
<html lang="en">

<head>
  <PageMap>
    <DataObject type="website"></DataObject>
  </PageMap>
  <base href="https://www.webmanajemen.com/Web-Manajemen/mlbb.html">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="theme-color" content="#33b5e5">
  <title>Mobile Legends Drone - WMI GitLabs</title>
  <link rel="shortcut icon" href="https://z9t4u9f6.stackpathcdn.com/wp-content/themes/mdbootstrap4/favicon.ico" />
  <meta name="description" content="Mobile Legends Drone Download." />
  <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
  <link rel="canonical" href="https://www.webmanajemen.com/Web-Manajemen/mlbb.html" />
  <meta property="og:type" content="website" />
  <meta content='182383652179465' property='fb:app_id' />
  <meta content='100001995776790' property='fb:admins' />
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="Mobile Legends Drone - WMI" />
  <meta property="og:description" content="Mobile Legends Drone download" />
  <meta property="og:url" content="https://www.webmanajemen.com/Web-Manajemen/mlbb.html" />
  <meta property="og:site_name" content="WMI GitLabs" />
  <meta property="og:image" content="https://www.webmanajemen.com/Web-Manajemen/img/mlbb/selena.png" />
  <meta property="og:image:secure_url" content="https://www.webmanajemen.com/Web-Manajemen/img/mlbb/selena.png" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="Mobile Legends Drone Download" />
  <meta name="twitter:title" content="WMI gitLabs" />
  <meta name="twitter:site" content="@WManajemen" />
  <meta name="twitter:image" content="https://www.webmanajemen.com/Web-Manajemen/img/mlbb/selena.png" />
  <meta name="google-site-verification" content="" />
  <link rel='dns-prefetch' href='//dimaslanjaka.github.io' />
  <link rel='dns-prefetch' href='//dimaslanjaka.github.io' />
  <link rel='dns-prefetch' href='//s.w.org' />
  <meta name="generator" content="WordPress 5.3.2" />
  <meta name="generator" content="WooCommerce 3.8.1" />
  <meta name="referrer" content="always" />
  <link rel="icon" href="https://www.webmanajemen.com/Web-Manajemen/img/mlbb/selena.png" sizes="32x32" />
  <link rel="icon" href="https://www.webmanajemen.com/Web-Manajemen/img/mlbb/selena.png" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="https://www.webmanajemen.com/Web-Manajemen/img/mlbb/selena.png"
    sizes="180x180" />
  <meta name="msapplication-TileImage" content="https://www.webmanajemen.com/Web-Manajemen/img/mlbb/selena.png" />
  <meta name="p:domain_verify" content="ba4bb1f26dcf05eadc4ea92722eca381" />
  <link rel='stylesheet' href='css/compiled.block.css' type='text/css' media='all' />
  <link rel='stylesheet' href='css/compiled.min.css' type='text/css' media='all' />
  <script type='text/javascript'>
    /* <![CDATA[ */
    var mdw_search_object = {
      "search_tree": {
        "290": {
          "title": "bootstrap panels - examples & tutorial. basic & advanced usage",
          "description": "bootstrap panels are bordered boxes where you can place texts, lists, tables and other content. panels are similar to cards, but they don't include media.",
          "link": "https:\/\/mdbootstrap.com?page_id=290",
          "wptitle": "Panels"
        },
        "102429": {
          "title": "material design for bootstrap installation guide",
          "description": "download zip package to get the compiled css and javascript, source code or install mdbootstrap using npm. you can also use cdn for quick start.",
          "link": "https:\/\/mdbootstrap.com?page_id=102429",
          "wptitle": "Installation Guide"
        }
      }
    };
    /* ]]> */
  </script>
  <script src='js/compiled.core.js'></script>
  <script src='js/compiled.search.js'></script>
  <script type='application/ld+json'>
    {
      "@context": "http://schema.org",
      "@type": "Website",
      "name": "Mobile Legends Drone - WMI GitLabs",
      "url": "https://www.webmanajemen.com/Web-Manajemen/mlbb.html",
      "sameAs": [
        "https://www.facebook.com/dimaslanjaka1",
        "https://twitter.com/WManajemen",
        "https://codepen.io/dimaslanjaka/",
        "https://github.com/dimaslanjaka/Web-Manajemen"
      ],
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://www.webmanajemen.com/Web-Manajemen/search.html?q={q}",
        "query-input": "required name=q"
      },
      "description": "Mobile Legends Drone"
    }
  </script>
  <script type='application/ld+json'>
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.webmanajemen.com/Web-Manajemen/mlbb.html"
      },
      "headline": "Drone Mobile Legends All Version",
      "description": "Download Drone Mobile Legends 1.4.22, 1.4.28, 1.4.44, 1.4.45.",
      "datePublished": "2020-01-21T07:22:00+07:00",
      "dateModified": "2020-01-21T00:22:35Z",
      "image": {
        "@type": "ImageObject",
        "url": "https://www.webmanajemen.com/Web-Manajemen/img/mlbb/ling.jpg",
        "height": 720,
        "width": 1280
      },
      "publisher": {
        "@type": "Organization",
        "name": "KOMPI AJAIB",
        "logo": {
          "@type": "ImageObject",
          "url": "https://1.bp.blogspot.com/-rkXCUBbNXyw/XfY0hwoFu5I/AAAAAAAAAhw/BUyeKW5BtMoIJLlPUcPSdqGZBQRncXjDQCK4BGAYYCw/s600/PicsArt_09-09-12.12.25.jpg",
          "width": 600,
          "height": 60
        }
      },
      "author": {
        "@type": "Person",
        "name": "Dimas Lanjaka",
        "url": "https://github.com/dimaslanjaka"
      }
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [{
          "@type": "ListItem",
          "position": 1,
          "item": {
            "@id": "https://dimaslanjaka.github.io",
            "name": "Home"
          }
        },
        {
          "@type": "ListItem",
          "position": 2,
          "item": {
            "@id": "https://www.webmanajemen.com/Web-Manajemen",
            "name": "Web-Manajemen"
          }
        },
        {
          "@type": "ListItem",
          "position": 3,
          "item": {
            "@id": "https://www.webmanajemen.com/Web-Manajemen/mlbb.html",
            "name": "Drone Mobile Legends"
          }
        }
      ]
    }
  </script>
  <!-- Ahref verification -->
  <meta name="ahrefs-site-verification" content="">
  <style>
    #mlbb .card {
      min-height: 500px;
    }

    div.ads {
      margin: 3px;
      padding: 2px;
    }

    .fb-comments,
    .fb-comments iframe[style],
    .fb-like-box,
    .fb-like-box iframe[style] {
      width: 100% !important;
    }

    .fb-comments span,
    .fb-comments iframe span[style],
    .fb-like-box span,
    .fb-like-box iframe span[style] {
      width: 100% !important;
    }
  </style>
</head>

<body class="fixed-sn  mdb-skin-custom" data-spy="scroll" data-target="#scrollspy" data-offset="15">
  <div id='fb-root'></div>
  <script type='text/javascript'>
    ! function (e, n, t) {
      var o, c = e.getElementsByTagName(n)[0];
      e.getElementById(t) || ((o = e.createElement(n)).id = t, o.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0", c.parentNode.insertBefore(o, c))
    }(document, "script", "facebook-jssdk");
  </script>
  <header>
    <!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav sn-bg-4 mdb-sidenav fixed">
      <ul class="custom-scrollbar list-unstyled" style="max-height:100vh; padding-bottom:90px">
        <!-- Logo -->
        <li class="logo-sn d-block waves-effect">
          <div class="text-center">
            <a class="pl-0" href="/"><img id="MDB-logo"
                src="https://z9t4u9f6.stackpathcdn.com/wp-content/uploads/2018/06/logo-mdb-jquery-small.png"
                alt="MDB Logo"></a>
          </div>
        </li>
        <!--/. Logo -->
        <!--Search Form-->
        <li>
          <form class="search-form" onkeypress="return event.keyCode != 13;" role="search" method="GET"
            autocomplete="off">
            <div class="form-group md-form mt-0 d-block waves-light">
              <input type="text" class="form-control pb-1 pt-2 mb-0" name="mdw_serach" placeholder="Search"
                id="mdb_main_search">
              <label for="mdb_main_search" class="sr-only">Search</label>
            </div>
            <div class="dropdown-wrapper"></div>
          </form>
        </li>
        <!--/.Search Form-->
        <!-- Side navigation links -->
        <li>
          <ul id="side-menu" class="collapsible collapsible-accordion">
            <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-product  menu-item"><a
                class="collapsible-header waves-effect" id="link-menu-item" href="https://webmanajemen.com"><i
                  class="far fa-gem"></i>WMI</a></li>
            <li id="menu-item" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item"><a
                class="collapsible-header waves-effect" id="link-menu-item" href="https://dimaslanjaka.000webhostapp.com/"><i
                  class="fas fa-gem"></i> AGC</a></li>
            <li id="menu-item" data-label="Android" data-type="menu-item"
              class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children  menu-item">
              <a class="collapsible-header waves-effect arrow-r active"><i class="fab fa-android"></i>Android<i
                  class="fa fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body" style="display: block;">
                <ul class="sub-menu">
                  <li id="menu-item"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home  menu-item">
                    <a class="collapsible-header waves-effect" id="link-menu-item" href="https://mdbootstrap.com/">Home
                      page</a></li>
                </ul>
              </div>
            </li>
            <li id="menu-item" data-label="Games" data-type="menu-item"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item"><a
                class="collapsible-header waves-effect arrow-r "><i class="fab fa-playstation"></i>Games<i
                  class="fa fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="sub-menu">
                  <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item"><a
                      class="collapsible-header waves-effect" id="link-menu-item" href="#layout/overview/">Layout
                      overview</a></li>
                </ul>
              </div>
            </li>
            <li id="menu-item" data-label="Tips & Tricks" data-type="menu-item"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item"><a
                class="collapsible-header waves-effect arrow-r "><i class="fas fa-bookmark"></i>Tips<i
                  class="fa fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="sub-menu">
                  <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item">
                    <a class="collapsible-header waves-effect" id="link-menu-item"
                      href="#utilities/borders/">Borders</a>
                  </li>
                </ul>
              </div>
            </li>
            <li id="menu-item" data-label="PHP" data-type="menu-item"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item"><a
                class="collapsible-header waves-effect arrow-r "><i class="fab fa-php"></i>PHP<i
                  class="fa fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="sub-menu">
                  <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item"><a
                      class="collapsible-header waves-effect" id="link-menu-item" href="#content/code/">Code</a></li>
                </ul>
              </div>
            </li>
            <li id="menu-item" data-label="CSS" data-type="menu-item"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item"><a
                class="collapsible-header waves-effect arrow-r "><i class="fab fa-css3"></i>CSS<i
                  class="fa fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="sub-menu">
                  <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item"><a
                      class="collapsible-header waves-effect" id="link-menu-item" href="#css/demo/">Demo</a></li>
                </ul>
              </div>
            </li>
            <li id="menu-item" data-label="Musics" data-type="menu-item"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item"><a
                class="collapsible-header waves-effect arrow-r "><i class="fas fa-music"></i>Musics<i
                  class="fa fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="sub-menu">
                  <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item"><a
                      class="collapsible-header waves-effect" id="link-menu-item" href="#components/demo/">Demo</a></li>
                </ul>
              </div>
            </li>
            <li id="menu-item" data-label="JS" data-type="menu-item"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item"><a
                class="collapsible-header waves-effect arrow-r "><i class="fas fa-code"></i>JavaScript<i
                  class="fa fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="sub-menu">
                  <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item"><a
                      class="collapsible-header waves-effect" id="link-menu-item" href="#javascript/demo/">Demo</a></li>
                </ul>
              </div>
            </li>
            <li id="menu-item" data-label="HTML" data-type="menu-item"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item"><a
                class="collapsible-header waves-effect arrow-r "><i class="fab fa-html5"></i> HTML<i
                  class="fa fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="sub-menu">
                  <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item"><a
                      class="collapsible-header waves-effect" id="link-menu-item"
                      href="#navigation/compositions/">Compositions</a></li>
                </ul>
              </div>
            </li>
            <li id="menu-item" data-label="Proxy" data-type="menu-item"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item"><a
                class="collapsible-header waves-effect arrow-r "><i class="fas fa-user-secret"></i> Proxy<i
                  class="fa fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="sub-menu">
                  <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item"><a
                      class="collapsible-header waves-effect" id="link-menu-item" href="#forms/basic/">Basic
                      examples</a></li>
                </ul>
              </div>
            </li>
            <li id="menu-item" data-label="Wordpress" data-type="menu-item"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item"><a
                class="collapsible-header waves-effect arrow-r "><i class="fab fa-wordpress"></i> Wordpress<i
                  class="fa fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="sub-menu">
                  <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item"><a
                      class="collapsible-header waves-effect" id="link-menu-item" href="#tables/basic/">Basic
                      examples</a></li>
                </ul>
              </div>
            </li>
            <li id="menu-item" data-label="Blogger" data-type="menu-item"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item"><a
                class="collapsible-header waves-effect arrow-r "><i class="fab fa-blogger"></i>Blogger<i
                  class="fa fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="sub-menu">
                  <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item"><a
                      class="collapsible-header waves-effect" id="link-menu-item" href="#modals/basic/">Basic
                      examples</a></li>
                </ul>
              </div>
            </li>
            <li id="menu-item" data-label="Script" data-type="menu-item"
              class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item"><a
                class="collapsible-header waves-effect arrow-r "><i class="fas fa-code"></i>Script<i
                  class="fa fa-angle-down rotate-icon"></i></a>
              <div class="collapsible-body">
                <ul class="sub-menu">
                  <li id="menu-item" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item"><a
                      class="collapsible-header waves-effect" id="link-menu-item" href="#">Support</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
        <!-- /. Side navigation links -->
      </ul>
      <div class="sidenav-bg mask-strong"></div>
    </div>
    <!--/. Sidebar navigation -->
    <!--/.SideNav-->


    <!-- Navbar-->
    <nav class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i><span class="sr-only"
            aria-hidden="true">Toggle side navigation</span></a>
      </div>
      <!-- Navbar links-->
      <div class="mr-auto pl-2 d-none">
        <span class="d-none d-md-inline-block">

          <!-- Dynamic content wrapper -->
          <span id="dynamicContentWrapper-mainNavbar" class="dynamic-content d-none d-lg-inline-block"></span>

          <!--Angular Mobile-->
          <a id="navbar-category-gettingstarted-jquery" class="btn btn-info btn-sm my-0" href="#" role="button">
            <span class="d-none d-lg-inline-block mr-1">Getting started</span>
            <i class="fas fa-download"></i>
          </a>
          <!--Temp Pro button while BF is not working-->
          <a class="btn btn-danger btn-sm my-0" href="#" role="button">
            <span class="d-none d-lg-inline-block mr-1">Go Pro</span>
            <i class="fas fa-gem"></i>
          </a>
          <!--/Temp Pro button while BF is not working-->
          <a id="navbar-category-tutorial-jquery" class="btn btn-info btn-sm my-0" href="#" role="button">
            <span class="d-none d-lg-inline-block mr-1">Tutorial</span>
            <i class="fas fa-graduation-cap"></i>
          </a>
          <span id="dynamicContentWrapper-mainNavbar3" class="dynamic-content"></span>
          <a id="navbar-category-bundle-jquery" class="btn btn-unique btn-sm my-0" href="#" role="button">
            <span class="badge red mr-2">Super</span>
            <span class="d-none d-xl-inline-block mr-1">Bundle</span>
            <i class="fas fa-gift"></i>
          </a>
        </span>
      </div>

      <!--Navigation icons-->
      <ul class="nav navbar-nav nav-flex-icons ml-auto">


        <li class="nav-item d-none d-xl-inline-block" id="navbar-static-contact" alt="Contact us">
          <a href="//webmanajemen.com/p/contact.html" class="nav-link waves-effect">
            <i class="fas fa-envelope"></i><span class="sr-only">Contact us</span>
          </a>
        </li>

        <li class="nav-item d-none d-xl-inline-block" alt="Support" id="navbar-static-support">
          <a href="//api.whatsapp.com/send?phone=+6285655667573&text=Hello&source=github&data=github"
            class="nav-link waves-effect" rel="nofollow noopener">
            <i class="fas fa-question-circle"></i><span class="d-none d-xl-inline-block ml-1">Support</span>
          </a>
        </li>

        <!-- Tools -->
        <li id="navbar-static-tools" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbar-tools" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="fas fa-wrench"></i><span class="d-none d-xl-inline-block ml-1">Tools</span></a>
          <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbar-tools">
            <a class="dropdown-item" href="https://dimaslanjaka.000webhostapp.com/AGC/proxy">Google proxy checker</a>
          </div>
        </li>

        <!-- Login / register -->
        <a id="navbar-static-login" alt="Sign Up" class="btn btn-info btn-rounded btn-sm waves-effect waves-light"
          href="//dimaslanjaka.000webhostapp.com/AGC/login">LOGIN</a>
      </ul>
    </nav>
    <!-- /.Navbar-->
  </header>

  <div id="share-wrap">
    <style>
      .switch-version {
        z-index: 1000;
      }

      .switch-off {
        display: none;
      }

      .switch-title {
        font-size: 11px;
      }

      .switch-web {
        border-top: 1px solid #33b5e5;
        border-left: 1px solid #33b5e5;
        color: #6b6e72;
        border-top-left-radius: 4px;
        transition: background-color 0.3s;
      }

      .switch-mobile {
        border-bottom: 1px solid #FF8800;
        border-left: 1px solid #FF8800;
        color: #6b6e72;
        border-bottom-left-radius: 4px;
        transition: background-color 0.3s;
      }

      .switch-web.active,
      .switch-web:not(.active):hover {
        color: white;
        background-color: #33b5e5;
      }

      .switch-mobile.active,
      .switch-mobile:not(.active):hover {
        color: white;
        background-color: #FF8800;
      }

      .switch-web i,
      .switch-mobile i {
        position: relative;
        top: 4px;
      }

      .switch-web span,
      .switch-mobile span {
        width: 100%;
        position: relative;
        top: -4px;
      }

      .switch-web-products {
        border-left: 1px solid #33b5e5;
      }

      .switch-mobile-products {
        border-left: 1px solid #FF8800;
      }

      .switch-version a:last-child>.switch-to {
        -webkit-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
      }

      .switch-version a:first-child>.switch-to {
        -webkit-border-top-left-radius: 0;
        border-top-left-radius: 0;
      }

      /*
      .switch-to-mobile.mdb-vue-mobile {
        background-image: url('img/logo/mdb-angular.png');
        background-position: 0 -84px;
      }

      .switch-to-mobile.mdb-angular-mobile {
        background-image: url('img/logo/mdb-angular.png');
        background-position: 0 0;
      }

      .switch-to-mobile.mdb-react-mobile {
        background-image: url('img/logo/mdb-angular.png');
        background-position: 0 -123px;
      }
      */
      .wow {
        visibility: hidden;
      }
    </style>
    <div class="switch-version d-none d-md-block">
      <div class="switch-web active">
        <a class="d-block text-center">
          <i class="fas fa-share"></i>
          <span class="switch-title">share</span>
        </a>
      </div>
      <div class="switch-web-products ">
        <a href="#" id="tw-share">
          <center><i class="fab fa-twitter"></i></center>
        </a>
        <a href="/docs/angular/" id="fb-share">
          <center><i class="fab fa-facebook-f"></i></center>
        </a>
        <a href="/docs/react/" id="pin-share">
          <center><i class="fab fa-pinterest"></i></center>
        </a>
        <a href="/docs/vue/mobile/" id="mail-share">
          <center><i class="fad fa-envelope"></i></center>
        </a>
      </div>
      <div class="switch-mobile-products switch-off">
        <a href="/docs/angular/mobile/" id="tu-share">
          <center><i class="fab fa-tumblr"></i></center>
        </a>
        <a href="/docs/react/mobile/" id="lin-share">
          <center><i class="fab fa-linkedin"></i></center>
        </a>
        <a href="/docs/vue/mobile/" id="st-share">
          <center><i class="fab fa-stumbleupon-circle"></i></center>
        </a>
        <a href="/docs/vue/mobile/" id="more-share">
          <center><i class="far fa-share-alt"></i></center>
        </a>
      </div>
      <div class="switch-mobile ">
        <a class="d-block text-center">
          <i class="far fa-retweet"></i>
          <span class="switch-title">share</span>
        </a>
      </div>
    </div>
    <script>
      var share = document.getElementById('tw-share');
      share.setAttribute('href', 'https://twitter.com/share?url=' + location.href + '&text=' + document.title + '&via=' + location.host);
      share.setAttribute('target', '_blank');
      var share = document.getElementById('fb-share');
      share.setAttribute('href', 'https://www.facebook.com/sharer/sharer.php?u=' + location.href + '&text=' + document.title + '&via=' + location.host);
      share.setAttribute('target', '_blank');
      var share = document.getElementById('tu-share');
      share.setAttribute('href', 'https://www.tumblr.com/share/link?url=' + location.href + '&text=' + document.title + '&via=' + location.host);
      share.setAttribute('target', '_blank');
      var share = document.getElementById('lin-share');
      share.setAttribute('href', 'https://www.linkedin.com/shareArticle?mini=true&url=' + location.href + '&text=' + document.title + '&via=' + location.host);
      share.setAttribute('target', '_blank');
      var share = document.getElementById('pin-share');
      share.setAttribute('href', 'https://www.pinterest.com/pin/create/button/?url=' + location.href + '&text=' + document.title + '&via=' + location.host);
      share.setAttribute('target', '_blank');
      var share = document.getElementById('st-share');
      share.setAttribute('href', 'http://www.stumbleupon.com/submit?url=' + location.href + '&text=' + document.title + '&via=' + location.host);
      share.setAttribute('target', '_blank');
      var share = document.getElementById('more-share');
      share.setAttribute('href', 'https://www.addtoany.com/share_save?linkurl=' + location.href + '&text=' + document.title + '&via=' + location.host);
      share.setAttribute('target', '_blank');
      var share = document.getElementById('mail-share');
      share.setAttribute('href', 'mailto:?subject=Share&body=' + location.href + ' ' + document.title + ' from ' + location.host);
      share.setAttribute('target', '_blank');
    </script>

  </div>

  <!-- Start your project here-->
  <h1 class="text-center">Drone Mobile Legends</h1>
  <main class="pt-4" id="mlbb">
    <div class="ads">
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1165447249910969" data-ad-slot="4894289831"
        data-ad-format="link" data-full-width-responsive="true"></ins>
    </div c>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12 col-xl-3">
        <!-- Card -->
        <div class="card promoting-card mb-3">
          <!-- Card content -->
          <div class="card-body d-flex flex-row">

            <!-- Avatar -->
            <img src="https://www.webmanajemen.com/Web-Manajemen/img/mlbb/1.4.22.png" class="rounded-circle mr-3"
              height="50px" width="50px" alt="avatar">

            <!-- Content -->
            <div>
              <!-- Title -->
              <h4 class="card-title font-weight-bold mb-2">v1.4.22</h4>
              <!-- Subtitle -->
              <p class="card-text">Drone mobile legends version 1.4.22</p>
            </div>
          </div>

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top rounded-0" src="https://www.webmanajemen.com/Web-Manajemen/img/mlbb/wanwan.jpg"
              alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">
            <div class="collapse-content">
              <!-- Text -->
              <p class="card-text" id="">
                Download drone mobile legends version 1.4.22
                <ul>
                  <li><a
                      href="https://github.com/dimaslanjaka/dimaslanjaka.github.io/raw/master/drone/android%201.4.22%20-%20drone/android.zip"
                      target="_blank" rel="noopener noreferrer" title="Drone MLBB 1.4.22"
                      class="btn btn-flat red-text p-1" data-toggle="tooltip" data-placement="top">Drone <i
                        class="fas fa-download ml-1"></i></a></li>
                  <li><a
                      href="https://github.com/dimaslanjaka/dimaslanjaka.github.io/raw/master/drone/android%201.4.22%20-%20ori/android.zip"
                      target="_blank" rel="noopener noreferrer" title="Original MLBB 1.4.22"
                      class="btn btn-flat red-text p-1" data-toggle="tooltip" data-placement="top">Original <i
                        class="fas fa-download ml-1"></i></a></li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <!-- Card -->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xl-3">
        <!-- Card -->
        <div class="card promoting-card mb-3">
          <!-- Card content -->
          <div class="card-body d-flex flex-row">

            <!-- Avatar -->
            <img src="https://www.webmanajemen.com/Web-Manajemen/img/mlbb/1.4.28.png" class="rounded-circle mr-3"
              height="50px" width="50px" alt="avatar">

            <!-- Content -->
            <div>
              <!-- Title -->
              <h4 class="card-title font-weight-bold mb-2">v1.4.28</h4>
              <!-- Subtitle -->
              <p class="card-text">Drone mobile legends version 1.4.28</p>
            </div>
          </div>

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top rounded-0" src="https://www.webmanajemen.com/Web-Manajemen/img/mlbb/ling.jpg"
              alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">
            <div class="collapse-content">
              <!-- Text -->
              <p class="card-text" id="">
                Download drone mobile legends version 1.4.28
                <ul>
                  <li><a
                      href="https://github.com/dimaslanjaka/dimaslanjaka.github.io/raw/master/drone/android%201.4.28%20-%20drone/android.zip"
                      target="_blank" rel="noopener noreferrer" title="Drone MLBB 1.4.28"
                      class="btn btn-flat red-text p-1" data-toggle="tooltip" data-placement="top">Drone <i
                        class="fas fa-download ml-1"></i></a></li>
                  <li><a
                      href="https://github.com/dimaslanjaka/dimaslanjaka.github.io/raw/master/drone/android%201.4.28%20-%20ori/android.zip"
                      target="_blank" rel="noopener noreferrer" title="Original MLBB 1.4.28"
                      class="btn btn-flat red-text p-1" data-toggle="tooltip" data-placement="top">Original <i
                        class="fas fa-download ml-1"></i></a></li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <!-- Card -->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xl-3">
        <!-- Card -->
        <div class="card promoting-card mb-3">
          <!-- Card content -->
          <div class="card-body d-flex flex-row">

            <!-- Avatar -->
            <img src="https://www.webmanajemen.com/Web-Manajemen/img/mlbb/1.4.44.png" class="rounded-circle mr-3"
              height="50px" width="50px" alt="avatar">

            <!-- Content -->
            <div>
              <!-- Title -->
              <h4 class="card-title font-weight-bold mb-2">v1.4.44</h4>
              <!-- Subtitle -->
              <p class="card-text">Drone mobile legends version 1.4.44</p>
            </div>
          </div>

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top rounded-0" src="https://www.webmanajemen.com/Web-Manajemen/img/mlbb/harith.jpg"
              alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">
            <div class="collapse-content">
              <!-- Text -->
              <p class="card-text" id="">
                Download drone mobile legends version 1.4.44
                <ul>
                  <li><a
                      href="https://github.com/dimaslanjaka/dimaslanjaka.github.io/raw/master/drone/android%201.4.44%20-%20drone/android.zip"
                      target="_blank" rel="noopener noreferrer" title="Drone MLBB 1.4.44"
                      class="btn btn-flat red-text p-1" data-toggle="tooltip" data-placement="top">Drone <i
                        class="fas fa-download ml-1"></i></a></li>
                  <li><a
                      href="https://github.com/dimaslanjaka/dimaslanjaka.github.io/raw/master/drone/android%201.4.44%20-%20ori/android.zip"
                      target="_blank" rel="noopener noreferrer" title="Original MLBB 1.4.44"
                      class="btn btn-flat red-text p-1" data-toggle="tooltip" data-placement="top">Original <i
                        class="fas fa-download ml-1"></i></a></li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <!-- Card -->
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 col-xl-3">
        <!-- Card -->
        <div class="card promoting-card mb-3">
          <!-- Card content -->
          <div class="card-body d-flex flex-row">

            <!-- Avatar -->
            <img src="https://www.webmanajemen.com/Web-Manajemen/img/mlbb/1.4.45.png" class="rounded-circle mr-3"
              height="50px" width="50px" alt="avatar">

            <!-- Content -->
            <div>
              <!-- Title -->
              <h4 class="card-title font-weight-bold mb-2">v1.4.45</h4>
              <!-- Subtitle -->
              <p class="card-text">Drone mobile legends version 1.4.45</p>
            </div>
          </div>

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top rounded-0"
              src="https://res.cloudinary.com/dimaslanjaka/image/fetch/w_3840,h_2160/https://www.webmanajemen.com/Web-Manajemen/img/mlbb/carmilla.png"
              alt="Card image cap">
            <a href="#!">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">
            <div class="collapse-content">
              <!-- Text -->
              <p class="card-text" id="">
                Download drone mobile legends version 1.4.45
                <ul>
                  <li><a
                      href="https://github.com/dimaslanjaka/dimaslanjaka.github.io/raw/master/drone/android%201.4.45%20-%20drone/android.zip"
                      target="_blank" rel="noopener noreferrer" title="Drone MLBB 1.4.45"
                      class="btn btn-flat red-text p-1" data-toggle="tooltip" data-placement="top">Drone <i
                        class="fas fa-download ml-1"></i></a></li>
                  <li><a
                      href="https://github.com/dimaslanjaka/dimaslanjaka.github.io/raw/master/drone/android%201.4.45%20-%20ori/android.zip"
                      target="_blank" rel="noopener noreferrer" title="Original MLBB 1.4.45"
                      class="btn btn-flat red-text p-1" data-toggle="tooltip" data-placement="top">Original <i
                        class="fas fa-download ml-1"></i></a></li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <!-- Card -->
      </div>
    </div>
    <div class="ads">
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1165447249910969" data-ad-slot="1983408237"
        data-ad-format="auto" data-full-width-responsive="true"></ins>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info">
          Place all extracted to folder Mobile Legends.
          <pre>Android/data/com.mobile.legends/files/dragon2017/assets/Scenes/android/</pre>
          <b>Overwrite ALL</b>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="fb-comments" data-href="https://www.webmanajemen.com/Web-Manajemen/mlbb.html" data-numposts="10"
        data-width="100%" data-colorscheme="light" data-order-by="reverse_time"></div>
    </div>
  </main>
  <!-- End your project here-->

  <!--Footer-->
  <footer id="footer" class="page-footer unique-color-dark mt-4">
    <div class="info-color-dark text-center py-4">
      <a id="footer-link-newsletter" href="//github.com/dimaslanjaka"
        class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">
        <i class="fab fa-github white-text"> </i>
      </a>
      <a id="footer-link-newsletter" href="//fb.me/dimaslanjaka1"
        class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">
        <i class="fab fa-facebook-f white-text"> </i>
      </a>
      <a id="footer-link-newsletter" href="https://www.youtube.com/channel/UCGNaoefvJRfd15fo-LQ0zvg"
        class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">
        <i class="fab fa-youtube white-text"> </i>
      </a>
      <a id="footer-link-newsletter" href="#" class="border rounded p-2 px-3 mr-4 d-none d-md-inline-block">
        <i class="fab fa-twitter white-text"> </i>
      </a>
    </div>
    <!--Footer Links-->
    <div class="container text-center text-md-left mt-5">
      <div class="row mt-3">
        <!--First column-->
        <div class="col mb-4">
          <h6 class="text-uppercase font-weight-bold">
            <strong>Useful links</strong>
          </h6>
          <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a id="footer-link-license" href="//webmanajemen.com/p/about.html">About</a>
          </p>
          <p>
            <a id="footer-link-changelog" href="//webmanajemen.com/p/terms.html">Terms</a>
          </p>
          <p>
            <a id="footer-link-policy" href="//webmanajemen.com/p/privacy.html">Privacy Policy</a>
          </p>
        </div>
        <!--/.First column-->
        <!--Third column-->
        <div class="col mb-4">
          <h6 class="text-uppercase font-weight-bold">
            <strong>Free tutorials</strong>
          </h6>
          <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a id="footer-link-tutBootstrap" href="https://www.webmanajemen.com/search/label/HTML">HTML</a>
          </p>
          <p>
            <a id="footer-link-tutBootstrap" href="https://www.webmanajemen.com/search/label/CSS">CSS</a>
          </p>
          <p>
            <a id="footer-link-tutAngular" href="https://www.webmanajemen.com/search/label/PHP">PHP</a>
          </p>
          <p>
            <a id="footer-link-tutAngular" href="https://www.webmanajemen.com/search/label/JS">JS</a>
          </p>
        </div>
        <!--/.Third column-->
        <!--Fourth column-->
        <div class="col">
          <h6 class="text-uppercase font-weight-bold">
            <strong>Company</strong>
          </h6>
          <hr class="info-color mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <!-- <p>
              <i class="fas fa-building mr-3"></i> Our story</p> -->
          <p>
            <a id="footer-link-team" href="//github.com/dimaslanjaka">
              <i class="fas fa-users mr-3"></i> About Me</a>
          </p>
        </div>
        <!--/.Fourth column-->
      </div>
    </div>
    <!--/.Footer Links-->
    <!-- Copyright-->
    <div class="footer-copyright py-3 text-center">
      &copy; 2020 Copyright:
      <a href="https://Web-Manajemen.blogspot.com">
        <strong> webmanajemen.com</strong>
      </a>
    </div>
    <!--/.Copyright -->
  </footer>
  <!--/.Footer-->

  <script src='js/compiled.gzip.js'></script>
  <script src='js/compiled.min.js'></script>
  <script src='js/compiled.footer.js'></script>
  <script src='js/jquery.validate.js'></script>
  <!--RSS as Nav and Grid-->
  <script src='js/compiled.rss.js?hash=AE1x'></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert"></script>
  <script src="js/adsense.js?hash=AE1x"></script>
  <script src="WMI/safelink/safelink.js?hash=AE1x"></script>
  <!--Nav Collapse Controller-->
  <script>
    $(document).ready(function () {
      $(".button-collapse").sideNav();
      var el = document.querySelector('.custom-scrollbar');
      var ps = new PerfectScrollbar(el);
    });
  </script>
  <script type="text/javascript">
    var _Hasync = _Hasync || [];
    _Hasync.push(['Histats.start', '1,3860842,4,0,0,0,00010000']);
    _Hasync.push(['Histats.fasi', '1']);
    _Hasync.push(['Histats.track_hits', '']);
    (function () {
      var hs = document.createElement('script');
      hs.type = 'text/javascript';
      hs.async = true;
      hs.src = ('//s10.histats.com/js15_as.js');
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
    })();
  </script>
  <noscript>
    <a href="/" target="_blank"><img src="//sstatic1.histats.com/0.gif?3860842&101" alt="" class="d-none"></a>
  </noscript>
</body>

</html>