<div id="footer">
    <div class="container">

        <strong>Footer Content</strong>

        <ul>
            <% for (var i in theme.footer_links) { %>
                <li>
                    <a class="footer-link" href="<%- url_for(theme.footer_links[i]) %>"> <%= i %> </a>
                </li>
            <% } %>
        </ul>

    </div>
</div>